Convert TimeBlock to Hour Format

In [14]:
import pandas as pd
import numpy as np

filename = "IEX DAM FY19"

df = pd.read_csv(filename+".csv")
df.insert(2, 'Hour', np.nan)

# Insert a new column named "Hour" and convert the 1-96 time block to 1-24 hour format
df['Hour'] = ((df['Time Block'] - 1) // 4) + 1

print(df)

             Date  Time Block  Hour       A1       A2       E1       E2  \
0      01/04/2018           1     1  3450.44  3450.44  3450.44  3450.44
1      01/04/2018           2     1  3600.70  3600.70  3600.70  3600.70
2      01/04/2018           3     1  3641.62  3641.62  3641.62  3641.62
3      01/04/2018           4     1  3498.46  3498.46  3498.46  3498.46
4      01/04/2018           5     2  3398.37  3398.37  3398.37  3398.37
...           ...         ...   ...      ...      ...      ...      ...
35035  31/03/2019          92    23  3637.60  3637.60  3637.60  3637.60
35036  31/03/2019          93    24  3637.77  3637.77  3637.77  3637.77
35037  31/03/2019          94    24  3758.22  3758.22  3758.22  3758.22
35038  31/03/2019          95    24  3758.10  3758.10  3758.10  3758.10
35039  31/03/2019          96    24  3758.61  3758.61  3758.61  3758.61

            N1       N2       N3       S1       S2       S3       W1       W2  \
0      3450.44  3450.44  3450.44  3450.44  3450.44  3450.44  3450.44  3450.44
1      3600.70  3600.70  3600.70  3600.70  3600.70  3600.70  3600.70  3600.70
2      3641.62  3641.62  3641.62  3641.62  3641.62  3641.62  3641.62  3641.62
3      3498.46  3498.46  3498.46  3498.46  3498.46  3498.46  3498.46  3498.46
4      3398.37  3398.37  3398.37  3398.37  3398.37  3398.37  3398.37  3398.37
...        ...      ...      ...      ...      ...      ...      ...      ...
35035  3637.60  3637.60  3637.60  5515.96  5515.96  5515.96  3637.60  3637.60
35036  3637.77  3637.77  3637.77  5500.58  5500.58  5500.58  3637.77  3637.77
35037  3758.22  3758.22  3758.22  5500.29  5500.29  5500.29  3758.22  3758.22
35038  3758.10  3758.10  3758.10  5500.59  5500.59  5500.59  3758.10  3758.10
35039  3758.61  3758.61  3758.61  4516.60  4516.60  4516.60  3758.61  3758.61

            W3      MCP
0      3450.44  3450.44
1      3600.70  3600.70
2      3641.62  3641.62
3      3498.46  3498.46
4      3398.37  3398.37
...        ...      ...
35035  3637.60  4071.07
35036  3637.77  4067.65
35037  3758.22  4160.24
35038  3758.10  4160.21
35039  3758.61  3933.53

[35040 rows x 17 columns]

Converting whole Dataset to Hourly data by taking average

In [15]:
# Take the average of the same timestamp using the hour column
average_df = df.groupby(['Date', 'Hour'])['MCP'].mean().reset_index()

average_df.to_csv(filename+".csv", index=False, index_label=None)

To Get sum of Energy

In [42]:
# Take the average of the same timestamp using the hour column
sum_df = df.groupby(['Date', 'Hour'])['MCP'].sum().reset_index()

sum_df.to_csv("1_"+filename, index=False, index_label=None)